/**
 * A Orixe design tokens
 * From Adobe XD (https://xd.adobe.com/view/cfc3d8df-bdf8-4d75-ab82-e32cb595b6dd-9a90/specs/)
 * Variables renamed for clarity and reuse.
 *
 * Fonts: Ubuntu and Fraunces are loaded from Google Fonts in index.html
 * (preconnect + stylesheet link). Weights: Ubuntu 300, 400, 500, 700 + italic 400;
 * Fraunces 400, 700 + italics.
 */

:root {
  /* Colors */
  --color-teal-dark: #2d4b4b;
  --color-teal-medium: #609897;
  --color-teal-light: #a2cfcd;
  --color-teal-enbref-bg: #b1dfda;
  --color-teal-bright: #0e9594;
  --color-brown-black: #260c03;
  --color-brown-dark: #591f0a;
  --color-cream: #fffdfa;
  --color-orange: #d65108;
  --color-amber: #efa00b;
  --color-tan: #f5dfbb;
  --color-sage: #6b9080;
  --color-coral: #f2542d;
  --color-blue-tint: #f8fbff;
  --color-blue-light: #d0dbea;
  --color-blue-dark: #30455f;
  --color-white-off: #fcfcfc;
  --color-green-dark: #3f4b39;
  --color-black: #000000;
  --color-gray: #707070;
  --color-amber-4d: #efa00b4d;
  --color-white: #ffffff;

  /* Font families */
  --font-family-ubuntu: Ubuntu, system-ui, sans-serif;
  --font-family-fraunces: Fraunces, Georgia, serif;
  --font-family-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;

  /* Font styles */
  --font-style-normal: normal;
  --font-style-italic: italic;

  /* Font weights */
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 18px;
  --font-size-base: 20px;
  --font-size-lg: 24px;
  --font-size-xl: 27px;
  --font-size-2xl: 30px;
  --font-size-3xl: 35px;
  --font-size-display: 150px;

  /* Spacing (letter) */
  --letter-spacing-normal: 0px;

  /* Line heights */
  --line-height-tight: 15px;
  --line-height-sm: 30px;
  --line-height-base: 34px;
  --line-height-md: 35px;
  --line-height-text: 36px;
  --line-height-lg: 40px;
  --line-height-xl: 44px;
  --line-height-display: 55px;
}